@use "global" as *;

.blog {
    @include mq("md") {
        position: relative;
    }
}
.blog::before {
    @include mq("md") {
        position: absolute;
        content: '';
        background-image: url(../../assets/images/common/top_blog_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        width: 100%;
        height: rem(500);
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
.blog::after {
    @include mq("md") {
        position: absolute;
        content: '';
        background-image: url(../../assets/images/common/top_illustration_02.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        width: rem(437);
        height: rem(201);
        top: rem(30);
        left: calc(50% - min(50%, rem(620)));
        z-index: -1;
    }
}
.blog.top-blog {
    padding-top: rem(77);
    @include mq("md") {
        padding-top: rem(88);
    }
}
.inner.blog__inner {

}

.blog__section-title {
    text-align: center;
}

.blog__cards {
    margin-top: rem(27);
    @include mq("md") {
        position: relative;
        margin-top: rem(80);
    }
}

.blog__button-layout {
    margin-top: rem(40);
    text-align: center;
    @include mq("md") {
        margin-top: rem(80);
    }
}


