@use "global" as *;

.contact-lower {
    @include mq("md") {

    }
}

.contact-lower__lower-fv {
    background-image: url(../../assets/images/common/contact_fv-sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mq("md") {
        background-image: url(../../assets/images/common/contact_fv-pc.jpg);
    }
}

.contact-lower__wrapper {
    margin-top: rem(52);
    width: 100%;
    @include mq("md") {
        margin-top: rem(150);
    }
}
.contact-lower__error {
    position: relative;
    width: 100%;
    max-width: rem(260);
    margin-inline: auto;
    color: $red;
    padding-bottom: rem(40);
    display: none;
    @include mq("md") {
        max-width: 100%;
    }
}
.contact-lower__error.error {
    display: block;
}
.contact-lower__error-text {
    text-align: left;
    padding-left:1em;
	text-indent:-1em;
    @include mq("md") {
        text-align: center;
    }
}
.contact-lower__thanks {
    text-align: center;
}
.contact-lower__thanks:last-child {
    margin-top: rem(40);
}