@use "global" as *;

.page-information {
    @include mq("md") {

    }
}

.page-information__lower-fv {
    background-image: url(../../assets/images/common/information_fv-sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mq("md") {
        background-image: url(../../assets/images/common/information_fv-pc.jpg);
    }
}

.page-information__article {
    @include mq("md") {

    }
}

.page-information__inner {
    @include mq("md") {

    }
}

.page-information__breadcrumb {
    @include mq("md") {

    }
}

.page-information__wrapper {
    margin-top: rem(120);
    @include mq("md") {
        margin-top: rem(150);
    }
}

.page-information__category {
    position: relative;
    @include mq("md") {

    }
}

.page-information__category-items {
    display: flex;
    align-items: center;
    // gap: rem(20);
    @include mq("md") {
        justify-content: space-between;
    }
}

.page-information__category-item {
    text-align: center;
    background-color: $lightblue;
    color: $skyblue;
    width: 100%;
    max-width: rem(102);
    height: rem(60);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
    transition: all .3s;
    @include mq("md") {
        cursor: pointer;
        max-width: rem(300);
        height: rem(90);
        position: relative;
    }
}
.page-information__category-item::before {
    @include mq("md") {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/common/info_icon01-b.png);
        background-position: center;
        background-size: contain;
        width: rem(64);
        height: rem(64);
        top: rem(10);
        left: rem(15);
    }
}
.page-information__category-item:hover {
    @include mq("md") {
        opacity: 0.6;
    }
}
.page-information__category-item img {
    display: none;
    width: rem(64);
    height: rem(64);
    @include mq("md") {
        display: inline-block;
    }
}
.page-information__category-item a {
    display: inline-block;
    font-size: rem(14);
    font-weight: $normal;
    @include mq("md") {
        font-size: rem(24);
        margin-left: rem(65);
    }
}
.page-information__category-item.current {
    @include mq("md") {
        background-color: $skyblue;
        color: $white;
    }
}
.page-information__category-item.current::before {
    background-image: url(../../assets/images/common/info_icon01-w.png);
}
.page-information__frame {
    display: none;
}
.page-information__box {
    width: 100%;
    margin-top: rem(16);
    border: rem(1) solid $skyblue;
    padding: rem(24);
    @include mq("md") {
        margin-top: rem(24);
        display: flex;
        align-items: center;
        gap: rem(48);
    }
}


.page-information__box-left {
    @include mq("md") {
        width: 50%;
    }
}

.page-information__title {
    font-weight: $bold;
    font-size: rem(24);
    border-bottom: rem(1) solid $skyblue;
}

.page-information__copy {
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $normal;
    line-height: 1.5;
}

.page-information__figure {
    margin-top: rem(8);
    width: 100%;
    aspect-ratio: 297 / 189;
    @include mq("md") {
        width: 50%;
        max-width: rem(492);
        aspect-ratio: 492 / 313;

    }
}
.page-information__figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

