@use "global" as *;

.page-campaign {

}

.page-campaign__lower-fv {
    background-image: url(../../assets/images/common/campaign_fv-sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mq("md") {
        background-image: url(../../assets/images/common/campaign_fv-pc.jpg);
    }
}

.page-campaign__article {

}

.page-campaign__inner {

}

.page-campaign__breadcrumb {

}

.page-campaign__wrapper {
    margin-top: rem(52);
    @include mq("md") {
        margin-top: rem(150);
    }
}

.page-campaign__categories {
    @include mq("md") {

    }
}
.page-campaign__cards {
    margin-top: rem(40);
    @include mq("md") {
    }
}


.page-campaign__pagination {
    margin-top: rem(80);
    @include mq("md") {
    }
}