@use "global" as *;

.price-lower {
    @include mq("md") {

    }
}

.price-lower__lower-fv {
    background-image: url(../../assets/images/common/price_fv-sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    @include mq("md") {
        background-image: url(../../assets/images/common/price_fv-pc.jpg);
    }
}

.price-lower__article {

}

.price-lower__inner {
    @include mq("md") {

    }
}

.price-lower__breadcrumb {
    @include mq("md") {

    }
}

.price-lower__wrapper {
    margin-top: rem(52);
    width: 100%;
    text-align: center;
    @include mq("md") {
        margin-top: rem(150);
        max-width: rem(700);
        margin-inline: auto;
    }
}

.price-lower__table + .price-lower__table {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
}
.price-lower__table {
    @include mq("md") {
        display: flex;
    }
}
.price-lower__top {
    background-color: $skyblue;
    color: $white;
    padding: rem(8) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mq("md") {
        width: 28.57%;
        flex-direction: column-reverse;
    }
}
.price-lower__title {
    font-weight: $bold;
    font-size: rem(16);
    margin-left: rem(8);
    @include mq("md") {
        margin-left: 0;
    }
}
.price-lower__image {
    display: inline-block;
    width: rem(24);
    height: rem(24);
    @include mq("md") {
        width: rem(61);
        height: auto;
        margin-top: rem(13);
    }
}

.price-lower__body {
    border: rem(1) solid $skyblue;
    border-top: none;
    width: 100%;
    @include mq("md") {
        width: 71.43%;
    }
}

.price-lower__line {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: rem(1) solid $skyblue;
    height: rem(64);
    @include mq("md") {
        height: auto;
        text-align: left;
    }
}

.price-lower__course {
    width: 69.57%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    border-right: rem(1) solid $skyblue;
    @include mq("md") {
        padding: rem(18) rem(16);
        justify-content: flex-start;
    }
}

.price-lower__value {
    width: 30.43%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq("md") {
        padding: rem(18) rem(16);
        justify-content: flex-end;
    }
}

