@use "global" as *;

.top-price {
    background-color: $lightblue;
    position: relative;
    z-index: 3;
}
.top-price.top-price--layout {
    padding-top: rem(80);
    padding-bottom: rem(80);
    @include mq("md") {
        padding-top: rem(93);
        padding-bottom: rem(103);
    }
}
.inner.top-price__inner {
    width: 100%;
    max-width: rem(600);
    @include mq("md") {
        max-width: $inner + strip-unit($padding-pc) * 2;
    }
}

.top-price__section-title {
    text-align: center;
}

.top-price__wrapper {
    margin-top: rem(30);
    @include mq("md") {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: rem(93);
        margin-top: rem(38);
        position: relative;;
    }
}
.top-price__wrapper::before {
    @include mq("md") {
        position: absolute;
        content: '';
        background-image: url(../../assets/images/common/top_contact_01-sp.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        width: rem(437);
        height: rem(201);
        bottom: rem(-180);
        left: rem(-80);
    }
}


.top-price__figure {
    margin-top: rem(24);
    width: 100%;
    aspect-ratio: 345 / 227;
    @include mq("md") {
        aspect-ratio: 492 / 746;
        margin-top: 0;
        max-width: rem(492);
    }
}

.top-price__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-price__left {
    width: 100%;
    margin-top: rem(35);
    @include mq("md") {
        max-width: rem(492);
        margin-top: 0;
    }
}

.top-price__table {

}
.top-price__table:not(:first-child) {
    @include mq("md") {
        margin-top: rem(40);
    }
    margin-top: rem(39);
}

.top-price__title {
    font-weight: $bold;
    font-size: rem(16);
    padding-bottom: rem(4);
    border-bottom: rem(1) solid $skyblue;
}

.top-pirce__body {

}

.top-price__line {
    margin-top: rem(11);
    display: flex;
    justify-content: space-between;
    font-weight: $normal;
    font-size: rem(14);
    @include mq("md") {
        font-size: rem(16);
        margin-top: rem(8);
    }
}

.top-price__course {

}

.top-price__value {
    margin-left: rem(15);
    @include mq("md") {
        margin-left: rem(20);
    }
}

.top-price__link-buttons {
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: rem(206);
    @include mq("md") {
        margin-top: rem(80);
    }
}


