@use "global" as *;

.top-blog {
    @include mq("md") {
        position: relative;
    }
}
.top-blog::before {
    @include mq("md") {
        position: absolute;
        content: '';
        background-image: url(../../assets/images/common/top_blog_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        width: 100%;
        height: rem(500);
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
.top-blog.top-blog--layout {
    padding-top: rem(77);
    @include mq("md") {
        padding-top: rem(88);
    }
}
.inner.top-blog__inner {

}

.top-blog__section-title {
    text-align: center;
}
.top-blog__sub-title,
.top-blog__main-title::first-letter,
.top-blog__main-title {
    @include mq("md") {
        color: $white;
    }
}

.top-blog__cards {
    margin-top: rem(27);
    @include mq("md") {
        position: relative;
        margin-top: rem(80);
    }
}
.top-blog__cards::after {
    @include mq("md") {
        position: absolute;
        content: '';
        background-image: url(../../assets/images/common/top_illustration_02.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        width: rem(437);
        height: rem(201);
        top: rem(-221);
        left: rem(-80);
        z-index: -1;
    }
}

.top-blog__button-layout {
    margin-top: rem(40);
    text-align: center;
    @include mq("md") {
        margin-top: rem(80);
    }
}


