@use "global" as *;

.top-campaign {
    width: 100%;
}

.top-campaign__inner {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(111);
    }
}

.top-campaign__section-title {
    text-align: center;
}

.top-campaign__cards {
    margin-top: rem(24);
    // column-gap: rem(24);
    width: 100%;
    max-width: rem(280);
    margin-inline: auto;
    @include mq("sm") {
        max-width: 100%;
    }
    @include mq("md") {
        position: relative;
        margin-top: rem(40);
        // column-gap: rem(40);
    }
}

.top-campaign__card {
    width: 100%;
    // max-width: rem(280);
    @include mq("md") {
        max-width: rem(333);
        margin-right: rem(40);
    }
}

.top-campaign__link-button {
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        margin-top: rem(80);
    }
}



