@use "global" as *;

.top-campaign {
    width: 100%;
}

.top-campaign__inner {
    margin-top: rem(40);
    margin-left: rem(10);
    @include mq("md") {
        margin-top: rem(111);
        max-width: $inner + strip-unit($padding-pc) * 2;
        padding-right: rem(35);
        padding-left: rem(35);
        margin-left: auto;
        margin-right: auto;
    }
}

.top-campaign__section-title {
    text-align: center;
}
.top-campaign__container {
    width: 100%;
    margin-top: rem(24);
    @include mq("md") {
        position: relative;
        margin-top: rem(40);
    }
}
.top-campaign__cards {
    // column-gap: rem(24);
    @include mq("md") {
        // column-gap: rem(40);
    }
}

.top-campaign__card {
    width: 100%;
    min-width: rem(280);
    @include mq("md") {
        min-width: rem(333);
    }
}

.top-campaign__link-button {
    margin-top: rem(30);
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        margin-top: rem(70);
    }
}



