@use "global" as *;

.blog-card {
    display: block;
    padding: rem(16);
    padding-bottom: rem(24);
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    background-color: $white;
    transition: all .6s;
    @include mq("md") {
        cursor: pointer;
    }
}
.blog-card:hover {
    @include mq("md") {
        background-color: $black;
        color: $white;
    }
}

.blog-card__figure {
    width: 100%;
    aspect-ratio: 301 / 201;
    overflow: hidden;
}

.blog-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .6s ease;
}
.blog-card:hover .blog-card__image {
    transform: scale(1.1); /* 拡大 */
  }

.blog-card__body {
    width: 100%;
    margin-top: rem(18);
}

.blog-card__time {
    font-family: $second-font-family,sans-serif;
    font-size: rem(12);
    font-weight: $normal;
}

.blog-card__title {
    font-size: rem(16);
    font-weight: $medium;
    padding-bottom: rem(4);
    border-bottom: rem(1) solid $skyblue;
}

.blog-card__copy {
    margin-top: rem(16);
    font-size: rem(16);
    font-weight: $normal;
    line-height: 1.5;
}