@use "global" as *;


.campaign-card {
    display: block;
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
    transition: all .6s;
    display: flex;
    flex-direction: column;
    @include mq("md") {
        cursor: pointer;
    }
}
.campaign-card:hover {
    @include mq("md") {
        opacity: 0.6;
    }
}

.campaign-card__figure {
    width: 100%;
    aspect-ratio: 280 / 188;
    @include mq("md") {
        aspect-ratio: 333 / 223;
    }
}

.campaign-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.campaign-card__body-top {
    padding: rem(17);
    padding-bottom: 0;
    // padding-bottom: rem(16);
    @include mq("md") {
        padding-top: rem(21);
        // padding-bottom: rem(30);
    }
}
.campaign-card__body-under {
    padding: rem(17);
    padding-top: 0;
    padding-bottom: rem(16);
    margin-top: auto;
    position: relative;
    @include mq("md") {
        padding-bottom: rem(30);
        margin-top: 0;
    }
}
.campaign-card__body-under::before {
    content: "";
    position: absolute;
    top:0;
    width: 90.4%;
    height: rem(1);
    background-color: $skyblue;
}

.campaign-card__category {
    display: inline-block;
    font-size: rem(12);
    font-weight: $normal;
    color: $skyblue;
    padding: rem(6) rem(11);
    border: rem(1) solid $skyblue;
    @include mq("md") {
        padding: rem(7) rem(15);
    }
}

.campaign-card__title {
    font-size: rem(16);
    font-weight: $medium;
    margin-top: rem(4);
    padding-bottom: rem(5);
    @include mq("md") {
        padding-bottom: rem(8);
    }
}

.campaign-card__copy {
    font-size: rem(14);
    font-weight: $normal;
    text-align: center;
    padding-top: rem(9);
    @include mq("md") {
        font-size: rem(16);
        padding-top: rem(16);
        margin-left: rem(-13);
    }
}

.campaign-card__footer {
    margin-top: rem(4);
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: rem(16);
    font-family: 'Lato', sans-serif;
    font-weight: $bold;
    @include mq("md") {
        column-gap: rem(24);
        margin-top: 0;
    }
}

.campaign-card__old-price {
    font-size: rem(20);
    position: relative;
    @include mq("md") {
        font-size: rem(24);
    }
}
.campaign-card__old-price::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: rem(76);
    height: rem(3);
    background-color: $red;
    left: 0;
    top: 50%;
    @include mq("md") {
        width: rem(91);
        top: 45%;
    }
}

.campaign-card__new-price {
    font-size: rem(32);
    color: $skyblue;
    @include mq("md") {
        font-size: rem(40);
    }
}

.campaign-card__bottom {
    @include mq("md") {
        padding-bottom: rem(40);
        margin-top: auto;
    }
}

.campaign-card__text {
    @include mq("md") {
        margin-top: rem(24);
        font-size: rem(16);
        font-weight: $normal;
    }
}

.campaign-card__time {
    @include mq("md") {
        display: block;
        text-align: center;
        color: $skyblue;
        font-weight: bold;
        font-size: rem(16);
        line-height: 1.125;
    }
}

.campaign-card__remark {
    @include mq("md") {
        display: block;
        margin-top: rem(7);
        font-weight: $normal;
        font-size: rem(14);
        color: $skyblue;
        text-align: center;
    }
}

.campaign-card__button-layout {
    @include mq("md") {
        text-align: center;
        margin-top: rem(16);
    }
}
