@use "global" as *;



.categories-info {
    @include mq("md") {

    }
}

.categories-info__items {
    display: flex;
    align-items: center;
    gap: rem(20);
    @include mq("md") {
        justify-content: space-between;
    }
}

.categories-info__item {
    text-align: center;
    background-color: $lightblue;
    color: $skyblue;
    width: 100%;
    max-width: rem(102);
    height: rem(60);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
    transition: all .3s;
    @include mq("md") {
        cursor: pointer;
        max-width: rem(300);
        height: rem(90);
    }
}
.categories-info__item:hover {
    @include mq("md") {
        opacity: 0.6;
    }
}
.categories-info__item img {
    display: none;
    width: rem(64);
    height: rem(64);
    @include mq("md") {
        display: inline-block;
    }
}
.categories-info__item a {
    display: inline-block;
    font-size: rem(14);
    font-weight: $normal;
    @include mq("md") {
        font-size: rem(24);
        margin-left: rem(8);
    }
}
.categories-info__item--active {
    background-color: $skyblue;
    color: $white;
    @include mq("md") {

    }
}

