@use "global" as *;

.contact {
    text-align: center;
    position: relative;
}
.contact__wrapper::after {
    position: absolute;
    content: '';
    background-image: url(../../assets/images/common/top_contact_01-sp.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: rem(109);
    height: rem(50);
    top: rem(-24);
    right: rem(15);
    z-index: 40;
    @include mq("sm") {
        width: rem(160);
        height: rem(80);
    }
    @include mq("md") {
        width: rem(301);
        height: rem(138);
        right: calc(50% - min(50%, rem(670)));
        top: rem(-38);
    }
}
.contact.top-contact {
    margin-top: rem(80);
    @include mq("md") {
        margin-top: rem(140);
    }
}
.inner {
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    margin-right: auto;
    margin-left: auto;
    @include mq("md") {
      max-width: $inner + strip-unit($padding-pc) * 2;
      padding-right: $padding-pc;
      padding-left: $padding-pc;
    }
  }
.inner.contact__inner {
    width: 100%;
    max-width: rem(697);
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        max-width: $inner + strip-unit($padding-pc) * 2;
    }
}
.contact__wrapper {
    @include mq("md") {
        padding: rem(80) rem(50) rem(80) rem(50);
        box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-between;
        gap: rem(82);
    }
}

.contact__left {
    width: 85.5%;
    max-width: 100%;
    margin-inline: auto;
    @include mq("md") {
        width: 47.93%;
        max-width: rem(440);
    }
}
.contact__logo {
    width: 100%;
    max-width: rem(174);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: rem(6);
    @include mq("md") {
        max-width: rem(200);
        padding-bottom: rem(8);
    }
}

.contact__image {
    width: 100%;
}
.contact__header {
    width: 100%;
    padding-top: rem(16);
    border-top: rem(1) solid $skyblue;
    @include mq("md") {
        display: flex;
        justify-content: space-between;
        column-gap: rem(21);
        padding-top: rem(24);
    }
}
.contact__address {
    @include mq("md") {
        text-align: left;
        min-width: rem(146);
    }
}

.contact__text {
    font-weight: $normal;
    font-size: rem(16);
}
.contact__text--first {
    letter-spacing: 0.01em;
    margin-left: rem(-10);
    @include mq("md") {
        margin-left: 0;
    }
}
.contact__text:not(:first-child) {
    margin-top: rem(4);
}

.contact__map {
    display: block;
    margin-top: rem(16);
    width: 100%;
    height: 100%;
    background-color: $gray;
    @include mq("md") {
        margin-top: 0;
        max-width: rem(273);
    }
}
.contact__right {
    width: 100%;
    @include mq("md") {
        width: 46.735%;
        max-width: 100%;
        padding-left: rem(10);
        border-left: rem(1) solid $skyblue;
    }
}
.contact__section-title {
    margin-top: rem(20);
    @include mq("md") {
        margin-top: 0;
    }
}

.contact__copy {
    font-size: rem(14);
    font-weight: $normal;
    color: $skyblue;
    margin-top: rem(8);
}

.contact__button-layout {
    margin-top: rem(38);
    text-align: center;
}


