@use "global" as *;

.footer {
    background-color: $skyblue;
}
.footer__inner {
    padding-top: rem(46);
    padding-bottom: rem(56);
    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(80);
        margin-top: rem(160);
    }
}
.footer__top {
    @include mq("sm") {
        display: flex;
        align-items: flex-end;
        margin-bottom: rem(-11);
    }
}

.footer__logo {
    display: inline-block;
    width: 100%;
    max-width: rem(120);
    transition: ease 0.3s;
    @include mq("sm") {
        max-width: rem(200);
        margin-right: rem(40);
    }
}

.footer__image {
    width: 100%;
}

.footer__sns {
    margin-top: rem(15);
    display: flex;
    align-items: center;
    gap: rem(16);
    @include mq("sm") {
        margin-top: 0;
        margin-bottom: rem(6);
        column-gap: rem(21);
    }
}

.footer__sns-image {
    width: 100%;
    max-width: rem(24);
    transition: ease 0.3s;
    @include mq("sm") {
        max-width: rem(32);
    }
}

.footer__facebook {

}

.footer__instagram {
    width: rem(19.5);
    @include mq("sm") {
        width: rem(26);
    }
}

.footer__body {
    display: flex;
    column-gap: rem(14);
    width: 100%;
    max-width: rem(360);
    margin-inline: auto;
    @include mq("sm") {
        column-gap: rem(60);
        max-width: rem(440);
    }
    @include mq("md") {
        max-width: 100%;
        column-gap: rem(14);
    }
}

.footer__nav {
    color: $white;
    margin-left: rem(24);
    @include mq("md") {
        display: flex;
        column-gap: rem(100);
        margin-left: rem(60);
    }
    @include mq("lg") {
        margin-left: rem(24);
        column-gap: rem(142);
    }
}
.footer__nav:last-child {
    @include mq("md") {
        margin-left: rem(80);
    }
    @include mq("lg") {
        margin-left: rem(126);
    }
}

.footer__nav-left {

}

.footer__nav-unit {
    font-weight: $normal;
    font-size: rem(16);
    margin-top: rem(24);
    line-height: 1.125;
}
.footer__nav-unit--bold {
    font-weight: $bold;
    margin-top: rem(38);
    position: relative;
}
.footer__nav-unit--bold::before {
    position: absolute;
    content: '';
    background-image: url(../../assets/images/common/hitode-sp.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: rem(18);
    height: rem(18);
    top: 0;
    left: rem(-21);
}

.footer__nav-link {
    transition: ease 0.3s;
}

.footer__nav-right {

}

.footer__copy {
    display: block;
    margin-top: rem(40);
    color: $white;
    font-family: $second-font-family, sans-serif;
    font-weight: $normal;
    font-size: rem(11.5);
    text-align: center;
    letter-spacing: 0.01em;
    @include mq("md") {
        margin-top: rem(80);
        font-size: rem(14);
        letter-spacing: 0.005em;
    }
}

.footer__logo:hover,
.footer__sns-image:hover,
.footer__nav-link:hover {
    @include mq("md") {
    opacity: 0.6;
    }
}
