@use "global" as *;

.header {
    width: 100%;
    height: rem(80);
    background-color: rgb(13,41,54,0.68);
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    @include mq("md") {
        height: rem(90);
    }
}


.header__inner {
    height: inherit;
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    @include mq("md") {
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}


.header__logo {
    width: rem(102);
    height: inherit;
    transition: ease 0.3s;
    @include mq("md") {
        width: rem(133);
    }
}
.header__logo:hover {
    @include mq("md") {
    opacity: 0.6;
    }
}

.header__image {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

