@use "global" as *;


.header-drawer {
    background-color: $skyblue;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9900;
    width: 100%;
    height: 100vh;
    color: $white;
    @include mq(md) {
        opacity: 0;
    }
}

.header-drawer__inner {

}

.header-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(80);

}

.header-drawer__logo {
    display: inline-block;
    width: 100%;
    max-width: rem(102);
}

.header-drawer__image {
    width: 100%;
}

.header-drawer__body {
    display: flex;
    column-gap: rem(14);
    width: 100%;
    max-width: rem(360);
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    padding-bottom: rem(111);
    overflow-y: scroll;
}

.header-drawer__nav {
    margin-left: rem(24);

}

.header-drawer__nav-left {

}

.header-drawer__nav-unit {
    width: 100%;
    font-weight: $normal;
    font-size: rem(16);
    margin-top: rem(24);
    line-height: 1.125;
}

.header-drawer__nav-unit--bold {
    font-weight: $bold;
    margin-top: rem(40);
    position: relative;
}
.header-drawer__nav-unit--bold::before {
    position: absolute;
    content: '';
    background-image: url(../../assets/images/common/hitode-sp.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: rem(18);
    height: rem(18);
    top: 0;
    left: rem(-21);
}

.header-drawer__nav-link {
    width: 100%;
    display: inline-block;
}

.header-drawer__nav-right {
}


