@use "global" as *;


.header-nav {
    color: $white;
    height: inherit;
}

.header-nav__menu {
    display: flex;
    align-items: center;
    height: inherit;
}

.header-nav__item {
    text-align: center;
    height: inherit;
    position: relative;
    @include mq("lg") {
    }
}
.header-nav__item::after {
    background-color: $white;
    bottom: rem(20);
    content: "";
    height: rem(1);
    left: 0;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
    width: 100%;
}
.header-nav__item:hover::after {
    transform: scale(0.85, 1);
}

.header-nav__link {
    font-family: $second-font-family, sans-serif;
    font-weight: $normal;
    font-size: rem(18);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 rem(12);
    @include mq("lg") {
        padding: 0 rem(20);
    }
}

.header-nav__link-ja {
    display: block;
    font-family: $base-font-family,sans-serif;
    font-weight: $normal;
    font-size: rem(10);
}

