@use "global" as *;

.information {
    background-color: $lightblue;
    position: relative;
    z-index: 2;
}

.inner.information__inner {
    max-width: rem(600);
    @include mq("md") {
        max-width: $inner + strip-unit($padding-pc) * 2;
    }
}

.information__section-title {
    text-align: center;
    @include mq("md") {
    }
}
.information__wrapper {
    margin-top: rem(24);
    @include mq("md") {
        margin-top: rem(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(48);
    }
}
.information__figure {
    width: 100%;
    aspect-ratio: 345 / 227;
    @include mq("md") {
        max-width: rem(540);
        aspect-ratio: 540 / 346;
    }
}

.information__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.information__body {
    width: 100%;
    margin-top: rem(24);
    @include mq("md") {
        max-width: rem(492);
        margin-top: rem(-8);
    }
}

.information__title {
    font-weight: $bold;
    font-size: rem(20);
    border-bottom: rem(1) solid $skyblue;
    @include mq("md") {
        font-size: rem(24);
    }
}

.information__copy {
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $normal;
    line-height: 1.5;
}

.information__button-layout {
    margin-top: rem(40);
    text-align: center;
}


