@use "global" as *;

.lower-fv {
    width: 100%;
    height: rem(460);
    text-align: center;
    position: relative;
    @include mq("md") {
        height: rem(548);
    }
}

.lower-fv__center {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include mq("md") {
        -webkit-transform: translate(-50%, -10%);
        transform: translate(-50%, -10%);
    }
}

.lower-fv__title {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: $normal;
    font-size: rem(40);
    color: $white;
    @include mq("md") {
        font-size: rem(80);
    }
}

