@use "global" as *;

.lower-article {
    position: relative;
}
.lower-article::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/common/lower-top_image.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: rem(120);
    height: rem(55);
    top: rem(56);
    left: rem(15);
    z-index: -1;
    @include mq("md") {
        width: rem(301);
        height: rem(138);
        top: rem(108);
        left: calc(50% - min(50%, rem(620)));
    }
}