@use "global" as *;

.section-title {

}

.section-title__main {
    font-family: $second-font-family, sans-serif;
    font-weight: $normal;
    font-size: rem(32);
    @include mq("md") {
        font-size: rem(40);
    }
}
.section-title__main--wide {
    width: 100%;
    font-size: rem(80);
    margin-left: rem(-10);
    @include mq("md") {
        margin-left: 0;
        font-size: rem(80);
    }
}

.section-title__main::first-letter {
    color: $skyblue;
}

.section-title__sub {
    font-weight: $normal;
    font-size: rem(12);
    color: $skyblue;
    margin-top: 0;
    @include mq("md") {
        margin-top: 0;
    }
}
.section-title__sub--narrow {
    margin-top: rem(-25);
    @include mq("md") {
        margin-top: rem(-25);
    }
}

