@use "global" as *;


.swiper.top-campaign__frame {
  padding-bottom: rem(10);
  padding-left: rem(5);
  @include mq("md") {
    padding-right: rem(5);
    margin-right: calc(50% - 50vw);
  }
}



/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: rem(-590);
  width: 0;
  left: rem(800);
  @include mq("lg") {
    left: rem(830);
    top: rem(-580);
  }
  @include mq("ex") {
    top: rem(-680);
  }
}

.swiper-button-next::after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: rem(-590);
  width: 0;
  right: rem(-10);
  @include mq("lg") {
    top: rem(-580);
  }
  @include mq("ex") {
    top: rem(-680);
  }
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
    border: rem(1) solid $skyblue;
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
    transition: ease .3s;
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
    border: rem(1) solid $skyblue;
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
    transition: ease .3s;
}
// .swiper-button-prev:hover::after,
// .swiper-button-next:hover::after {
//   @include mq("md") {
//     background-color: $skyblue;
//   }
// }
.swiper-button-prev::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: rem(40);
    height: rem(8);
    border-bottom: rem(1) solid $skyblue;
    border-left: rem(1) solid $skyblue;
    transform: skew(-45deg);
    top: rem(-280);
    left: rem(825);
    transition: ease .3s;
    @include mq("lg") {
      left: rem(855);
      top: rem(-275);
    }
    @include mq("ex") {
      top: rem(-325);
    }
}
.swiper-button-next::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: rem(40);
    height: rem(8);
    border-bottom: rem(1) solid $skyblue;
    border-right: rem(1) solid $skyblue;
    transform: skew(45deg);
    top: rem(-280);
    right: rem(12);
    transition: ease .3s;
    @include mq("lg") {
      top: rem(-275);
    }
    @include mq("ex") {
      top: rem(-325);
    }
}
// .swiper-button-next:hover .swiper-button-next::before {
//     border-bottom: rem(1) solid $white;
//     border-right: rem(1) solid $white;
// }

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after,
.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
  @include mq("md") {
    opacity: 0.5;
  }
}